# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.*
!.gitignore
*.d
*.o
*.so
*.swp
*.pyc
*.pb.h
*.pb.cc
*~
GPATH
GRTAGS
GTAGS
tmp/
build-debug/
build-release/
script/maple/proto/
